# Database Configuration
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Mail Configuration
MAIL_USERNAME=your_email_address
MAIL_PASSWORD=your_email_password

# Application Configuration
FRONTEND_URL=http://localhost:3000

# Infina API Configuration
INFINA_API_KEY=your_infina_api_key
INFINA_API_URL=https://apitest.infina.com.tr/infina-services/rest/srv/v1

# Monitoring Configuration (Grafana)
GRAFANA_PASSWORD=your_grafana_password

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379